---
import '../styles/global.css'
import '@fontsource-variable/raleway'
import '@fontsource/noto-sans'
import TsParticleBackground from '../components/TsParticleBackground.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE } from '../consts'

interface Props {
    title: string
    description?: string
    pageType?: 'website' | 'article'
    particles?: boolean
    markdownUrl?: string
}

const { title, description, pageType, particles = true, markdownUrl } = Astro.props
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>{title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}</title>
        <meta property='og:site_name' content={SITE_TITLE} />
        <meta property='og:title' content={title} />
        {description && <meta name='description' content={description} />}
        {
            description && (
                <meta property='og:description' content={description} />
            )
        }
        {pageType && <meta property='og:type' content={pageType} />}
        {markdownUrl && <link rel='alternate' type='text/markdown' href={markdownUrl} />}
        <script is:inline>
            const getTheme = () => {
                if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                    return localStorage.getItem('theme');
                }
                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            };
            const theme = getTheme();
            if (theme === 'dark') {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body class="pt-15">
        {particles && <TsParticleBackground />}
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
